[submodule "acoustic-carrier-hw/acoustic-carrier-board/libs/gsd-kicad-libs"]
	path = acoustic-carrier-hw/acoustic-carrier-board/libs/gsd-kicad-libs
	url = https://github.com/gregdavill/gsd-kicad-libs.git
[submodule "acoustic-carrier-hw/acoustic-carrier-board/libs/kicad-magic"]
	path = acoustic-carrier-hw/acoustic-carrier-board/libs/kicad-magic
	url = https://github.com/oskirby/kicad-magic.git
