#
# Logical Preferences generated for Lattice by Synplify map202309lat, Build 191R.
#

# Period Constraints 
#FREQUENCY PORT "ULPI_CLK" 200.0 MHz;
#FREQUENCY PORT "CLK_100MHZ" 200.0 MHz;
#FREQUENCY PORT "ETH_REFCLK" 200.0 MHz;
#FREQUENCY NET "u_lpddr3/pll_clk_out" 200.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "u_lpddr3/pll_clk_out" TO CLKNET "ETH_REFCLK_c";
#BLOCK PATH FROM CLKNET "u_lpddr3/pll_clk_out" TO CLKNET "CLK_100MHZ_c";
#BLOCK PATH FROM CLKNET "u_lpddr3/pll_clk_out" TO CLKNET "ULPI_CLK_c";
#BLOCK PATH FROM CLKNET "ETH_REFCLK_c" TO CLKNET "u_lpddr3/pll_clk_out";
#BLOCK PATH FROM CLKNET "ETH_REFCLK_c" TO CLKNET "CLK_100MHZ_c";
#BLOCK PATH FROM CLKNET "ETH_REFCLK_c" TO CLKNET "ULPI_CLK_c";
#BLOCK PATH FROM CLKNET "CLK_100MHZ_c" TO CLKNET "u_lpddr3/pll_clk_out";
#BLOCK PATH FROM CLKNET "CLK_100MHZ_c" TO CLKNET "ETH_REFCLK_c";
#BLOCK PATH FROM CLKNET "CLK_100MHZ_c" TO CLKNET "ULPI_CLK_c";
#BLOCK PATH FROM CLKNET "ULPI_CLK_c" TO CLKNET "u_lpddr3/pll_clk_out";
#BLOCK PATH FROM CLKNET "ULPI_CLK_c" TO CLKNET "ETH_REFCLK_c";
#BLOCK PATH FROM CLKNET "ULPI_CLK_c" TO CLKNET "CLK_100MHZ_c";
#BLOCK PATH FROM CLKNET "u_lpddr3/pll_clk_out" TO CLKNET "ETH_REFCLK_c";
#BLOCK PATH FROM CLKNET "u_lpddr3/pll_clk_out" TO CLKNET "CLK_100MHZ_c";
#BLOCK PATH FROM CLKNET "u_lpddr3/pll_clk_out" TO CLKNET "ULPI_CLK_c";
#BLOCK PATH FROM CLKNET "ETH_REFCLK_c" TO CLKNET "u_lpddr3/pll_clk_out";
#BLOCK PATH FROM CLKNET "ETH_REFCLK_c" TO CLKNET "CLK_100MHZ_c";
#BLOCK PATH FROM CLKNET "ETH_REFCLK_c" TO CLKNET "ULPI_CLK_c";
#BLOCK PATH FROM CLKNET "CLK_100MHZ_c" TO CLKNET "u_lpddr3/pll_clk_out";
#BLOCK PATH FROM CLKNET "CLK_100MHZ_c" TO CLKNET "ETH_REFCLK_c";
#BLOCK PATH FROM CLKNET "CLK_100MHZ_c" TO CLKNET "ULPI_CLK_c";
#BLOCK PATH FROM CLKNET "ULPI_CLK_c" TO CLKNET "u_lpddr3/pll_clk_out";
#BLOCK PATH FROM CLKNET "ULPI_CLK_c" TO CLKNET "ETH_REFCLK_c";
#BLOCK PATH FROM CLKNET "ULPI_CLK_c" TO CLKNET "CLK_100MHZ_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
